# Dependency directories
/node_modules

# Environment variables
.env

# Build output
/build

# Editor/IDE specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs and debugging files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Other
.DS_Store
Thumbs.db
