/* styles.css */

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Parisienne&display=swap");

@import "./variable.scss";
@import "./nav.scss";
@import "./trips.scss";

/* Your custom styles below */

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;

  color: white;
}

@media (max-width: 768px){
  .mb-hidden{
    display: none !important;
  }
}

@media (min-width: 768px){
  .pc-hidden{
    display: none !important;
  }
}

body {
  font-family: "Fredoka", sans-serif;
  font-size: 1rem;
  line-height: 1.5;

  background: rgb(0, 108, 59);
}

a {
  text-decoration: none;
  color: $white-color;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;

  background-color: transparent;
  border: 1px solid $primary-color;
}

button,
.button {
  cursor: pointer;

  padding: 8px 16px;
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $bg-color;
  background-color: white;
  border: 1px solid white;

  i {
    color: $bg-color;
  }

  &:hover {
    color: white;
    background-color: transparent;

    i {
      color: white;
    }
  }
}

form {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
}

span {
  color: $primary-color;
}

fieldset {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #2f80903d;
  margin: 16px;
  position: relative;

  & > .cover {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.255);
    position: absolute;
    top: -10px;
    right: 0;
    backdrop-filter: blur(10px);
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

    .loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 50px;
      height: 50px;
      margin: auto;
    }
    .loader .circle {
      position: absolute;
      width: 38px;
      height: 38px;
      opacity: 0;
      transform: rotate(225deg);
      animation-iteration-count: infinite;
      animation-name: orbit;
      animation-duration: 5.5s;
    }
    .loader .circle:after {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 5px;
      background: #000000;
    }
    .loader .circle:nth-child(2) {
      animation-delay: 240ms;
    }
    .loader .circle:nth-child(3) {
      animation-delay: 480ms;
    }
    .loader .circle:nth-child(4) {
      animation-delay: 720ms;
    }
    .loader .circle:nth-child(5) {
      animation-delay: 960ms;
    }
    .loader .bg {
      position: absolute;
      width: 70px;
      height: 70px;
      margin-left: -16px;
      margin-top: -16px;
      border-radius: 13px;
      animation: bgg 16087ms ease-in alternate infinite;
    }
    @keyframes orbit {
      0% {
        transform: rotate(225deg);
        opacity: 1;
        animation-timing-function: ease-out;
      }
      7% {
        transform: rotate(345deg);
        animation-timing-function: linear;
      }
      30% {
        transform: rotate(455deg);
        animation-timing-function: ease-in-out;
      }
      39% {
        transform: rotate(690deg);
        animation-timing-function: linear;
      }
      70% {
        transform: rotate(815deg);
        opacity: 1;
        animation-timing-function: ease-out;
      }
      75% {
        transform: rotate(945deg);
        animation-timing-function: ease-out;
      }
      76% {
        transform: rotate(945deg);
        opacity: 0;
      }
      100% {
        transform: rotate(945deg);
        opacity: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  fieldset {
    min-width: 90%;
  }
}

@media (min-width: 768px) {
  fieldset {
    width: 400px;
  }
}

legend {
  padding: 4px 8px;
}

/* Custom classes */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  gap: 1rem;
}

.inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
}

.bg-1 {
  background-color: $bg-color;
}

.bg-2 {
  background-color: $bg-color2;
}

.glass-effect {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #df7e07;
  color: black;
  border: 1px solid rgba(209, 213, 219, 0.3);

  * {
    color: black;
  }
}

.calender {
  * {
    color: black;
  }
}



.row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 1rem;

  color: $white-color;
}

/* Add more custom styles as needed */

.login-container {
  max-width: 400px;
  margin: 10px auto;
  justify-content: start;

  .top-section {
    form {
      gap: 20px;
      padding-top: 12px;

      .form-elements {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      @media (max-width: 768px) {
        & {
          width: 90vw;
        }
      }
    }
  }

  .foot-section {
    margin-top: 4rem;
  }
}

.home-trip-card {
  padding: 8px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

  .img-container{
    aspect-ratio: 16/9;
    padding: 0;
    margin: 0;

    img{
      height: 100%;
      width: 100%;
      border-radius: 4px;
      object-position: center;
      object-fit: cover;
    }
  }

  .content-container{
    display: flex;
    flex-direction: column;
    gap: 4px;

    .location{
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 4px;
      align-items: center;
    }

    i, span.destination-name{
      color: rgb(0, 22, 100);
    }

  }
  h2{
    font-weight: bold;
    margin-bottom: 4px;
    color: #444;
  }

  p{
    color: #888;
  }
}

.trip-card {
  max-width: 90vw;
  width: 250px;
  padding: 16px;
  background-color: transparent;
  border: 1px solid #9b9b9b80;
  border-radius: 8px;

  h3 {
    text-align: center;
    font-size: large;
  }

  h5 {
    font-style: italic;
    color: #ffffff;
    font-size: medium;

    i {
      color: #ffffff;
    }
  }

  .other-details {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #393939;
    margin: 16px 0px;
    gap: 8px;

    span.info {
      display: grid;
      grid-template-columns: 1fr auto;
      width: fit-content;
      padding: 4px 8px;
      border-radius: 16px;
      border: 0.5px solid #8d8d8d;
      align-items: center;
      gap: 4px;
      font-size: small;
    }
  }

  .btn-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    a {
      min-width: 70%;
      padding: 4px 8px;
      font-weight: 500;
    }
  }
}
