/* styles.css */

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,400;0,500;1,400&display=swap");

@import "./variable.scss";

/* Your custom styles below */

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body {
    font-family: "Fira Sans", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: $dark-color;
    background-color: $bg-color;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

input {
    width: 50%;

    padding: 1rem;
    border-radius: 0.5rem;

    background-color: $white-color;
    border: 1px solid $primary-color;
}

textarea {
}

button {
    cursor: pointer;

    padding: 1rem;
    border-radius: 0.5rem;

    color: $white-color;
    background-color: $primary-color;
}

form {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
}

/* Custom classes */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    gap: 1rem;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 0.5rem;
}

/* Add more custom styles as needed */
