//Color Scheme

$primary-color: #96ffa4;
$light-color: #c7ffd8;
$white-color: #fff;
$bg-color: #004f2f;
$bg-color2:rgb(9, 148, 81);
$dark-color: #001c30;
$--_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
